/* Estilos globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}



/* CSS Variables */

:root{
    --title-font: 'Plus Jakarta Sans', sans-serif;
    --paragraph-font: 'IBM Plex Mono', monospace;
    --primary-color: #1D1D1C;
    --secondary-color: #fff;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.navbar__logo{
    height: 3.3rem;
    width: 3.3rem;
}

.navbar__burguer-button{
    background-color: transparent;
    border: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

.navbar__burguer-button svg{
    /* height: 3rem; */
    width: 3.2rem;
}

.navbar__menu{
    display: none;
    list-style: none;
    z-index: 999999;
}

.navbar__theme-btn{
    display: none;
}

@media (min-width: 1024px){
    .navbar{
       padding: 3rem 0;
    }

    .navbar__logo{
        height: 4.5rem;
        width: 4.5rem;
    }

    .navbar__burguer-button{
        display: none;
    }

    .navbar__burguer-button svg{
        display: none;
    }

    .navbar__menu{
        display: flex;
        gap: 5rem;
        font-family: var(--title-font);
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    .navbar__menu-link a{
        text-decoration: none;
        color: var(--primary-color);
    }

    .navbar__theme-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #1D1D1C;
        border-radius: 20px;
        font-family: var(--title-font);
        color: var(--primary-color);
        padding: 1.2rem 2rem;
        gap: 1rem;
        cursor: pointer;
    }

    .navbar__theme-btn svg{
        height: 2rem;
        width: 2rem;
    }
}

/* Header */

/* Ligths */


.header{
    margin-top: 5rem;
    position: relative;
    z-index: 50;
}

.light1{
    width: 40rem;
    height: 40rem;
    border-radius: 100px;
    /* background-color: red; */
    background: radial-gradient(50% 50% at 50% 50%, #F6F7E1 0%, rgba(246, 246, 225, 0.927083) 7.29%, rgba(246, 246, 225, 0) 100%);
    filter: blur(50px);
    position: absolute;
    top: -10rem;
    z-index: -1;
    left: -10rem;
}

.light2{
    width: 40rem;
    height: 40rem;
    border-radius: 99999px;
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(199, 227, 247, 0.5) 0%, rgba(199, 227, 246, 0) 100%);;
    filter: blur(50px);
    z-index: -1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__photo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0rem 2rem;
    overflow: hidden;
}

.header__photo .line{
    width: 18rem;
    /* height: 5rem; */
}

.header__photo .profile-picture{
    width: 5.5rem;
}

.header__title{
    text-align: center;
    margin-top: 5rem;
    font-family: var(--title-font);
    font-size: 2.5rem;
}

.header__title br{
    display: none;
}

.header__text-wrapper{
    margin: 0 auto;
}

.header__paragraph{
    text-align: center;
    margin-top: 5rem;
    font-family: var(--paragraph-font);
    font-size: 1.42rem;
    line-height: 140%;

}

.header__icons{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__icons ul{
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
}

.header__icons-link{
    color: var(--primary-color);

}

.header__icons-link i{
    font-size: 3.5rem;
}

@media (min-width:1024px){
    .header__photo{
        padding: 0;
    }
    .header__photo .line{
        width: 25rem;
    }

    .header__photo .profile-picture{
        width: 9rem;
    }
    .header__title br{
        display: block;
    }
    .header__title{
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .header__text-wrapper{
        width: 60%;
    }
    .header__paragraph{
        font-size: 1.8rem;
    }

    .light1{
        width: 60rem;
        height: 60rem;
        top: -20rem;
        z-index: -1;
        left: 20%;
    }

    .light2{
        top: 70%;
    }

    .header__icons-link i{
        font-size: 4rem;
    }
}


